.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

label {
	font-size: 1.2rem;
	padding: 8px 16px;
	margin: 10px 5px;
}

input {
	font-size: 1.2rem;
	min-width: 200px;
	padding: 8px 16px;
	margin: 10px 5px;
}

.c-button {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676d7;
	color: #fff;
	padding: 8px 32px;
	font-size: 16px;
	margin: 10px;
	min-width: 100px;
	font-family: inherit;
	cursor: pointer;
}
.c-button:hover {
	background: #1d49aa;
}

.c-button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}
.c-button[disabled] {
	color: #d2d5db;
	background: #6c7589;
	cursor: not-allowed;
}
